[importlinter]
root_packages =
    hermes_agent

[importlinter:contract:layered-skeleton]
name = Hermes v3 layered skeleton
type = layers
layers =
    hermes_agent.transport
    hermes_agent.gateway
    hermes_agent.orchestration
    hermes_agent.repositories
    hermes_agent.domain
    hermes_agent.storage
ignore_imports =
    hermes_agent.storage.migrations.* -> hermes_agent.domain.seq_allocator
